
li{
    list-style: none;
}
ul{
    padding: 0;
}

ul{
    margin: 0;
}
.wrapper{width: 1060px;
    margin: 0 auto;
    margin-top: 170px;
    height: 1000px;
    background: #f4f5f6;
}
.bg_header{
    display: block;
    width: 100%;
    height: 160px;
    border: 1px solid gray;
}
.author_head{
    position: relative;
    min-height: 84px;
    padding: 16px 0 0 134px;
    margin-bottom: 20px;
    
}
.author_avatar{
    position: absolute;
    left: 15px;
    top: -26px;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 100px;
}
.author_nickname{
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #222;
}
.focus{
    color: #fff;
    background: #dd3b3d;
    font-size: 16px;
    height: 37px;
    line-height: 36px;
    padding: 0 17px 0 38px;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 25px;
    
}
.unfocus{
    margin-right: 25px;
    color: #fff;
    background: gray;
    font-size: 16px;
    height: 37px;
    line-height: 36px;
    padding: 0 17px 0 38px;
    border-radius: 20px;
    display: none;
    position: relative;
    cursor: pointer;
}
.unfocus i {
    
    font-style: normal;
    font-size: 40px;
    line-height: 35px;
    position: absolute;
    left: 16px;
    top: -1px;
}
.focus i{
    font-style: normal;
    font-size: 26px;
    position: absolute;
    left: 14px;
    top: -1px;
}
.focus_status{
    float: right;
    width: 200px;

}
.left{
    display: table-cell;
    width: 700px;
    padding-right: 20px;
    vertical-align: top;
}
.tab{
    background: #fff;
    position: relative;
    border-bottom: 2px solid #E8E8E8;
    height: 46px;
    line-height: 46px;
    border-spacing: 40px 0;
}

.tab li{
    display: table-cell;
    font-size: 18px;
    cursor: pointer;
}
.active{
    color: #E72418;
    border-bottom: 2px solid #e72418;
}
.author_about{
    position: relative;
    background: #fff;
}
.author_news{
    position: absolute;
    margin: 351px 0 0;
    padding: 0px;
    width: 680px;
    height: 800px;
    float: left;
}
.articles{
    margin: 0px;
    width: 700px;
}
.article_prc{
    position: relative;
    width: 156px;
    height: 100px;
    margin-right: 5px;
}
li.article{
    padding: 24px 0;
    margin:0 24px;
    border-bottom: 1px solid gray;
    cursor: pointer;
    
}
.rbox-inner {
    /* display: inline-block;
    width: 100%; */
    margin-top: 14px;
    
}
.title-box {
    /* margin-left: 6px; */
    font-size: 20px;
    color: #222;
    line-height: 1.3;
    margin-bottom: 4px;
    font-weight: 700;
}
a.lbtn{
    font-size:12px;
    color: #999; 
}
.right{
    vertical-align: top;
    display: table-cell;
    width: 340px;
}
.statistics {
    margin: 0px;
    display: table;
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
    
}
.dt{
    display: table-cell;
    width: 50%;
    text-align: center;
    padding: 18px 0;
    position: relative;
}
.statistics>dt:after {
    content: " ";
    display: block;
    position: absolute;
    background: #e8e8e8;
    height: 46px;
    width: 1px;
    left: 100%;
    top: 18px;
}
.statistics>dt, .statistics>dd {
    display: table-cell;
    width: 50%;
    text-align: center;
    padding: 18px 0;
    position: relative;}

.statistics h3 {
    font-size: 24px;
    color: #222;
    margin: 0px;
}
.statistics p {
    font-size: 14px;
    color: #777;
    margin-top: 4px;
}
.statistics h3 i {
    font-weight: 700;
}
.recent {
    background: #fff;
}
.recent>h2 {
    font-size: 18px;
    font-weight: 700;
    padding: 13px 0 9px 20px;
    color: #222;
    border-top: 2px solid #ed4040;
    border-bottom: 1px solid #ddd;
}
.recent  {
    padding-top: 8px;
}
.recent  .line {
    height: 68px;
    padding-bottom: 19px;
    overflow: hidden;
}
.recent  .line .rbox {
    float: right;
    width: 300px;
    height: 68px;
    margin-right: 22px;
    font-size: 0;
}
.recent  .line .rbox a {
    display: block;
    width: 100%;
    line-height: 22px;
    font-size: 14px;
    max-height: 44px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    letter-spacing: 0;
    margin-bottom: 7px;
    color:#222;
}

.recent  .line .rbox span {
    font-size: 14px;
    color: #777;
    letter-spacing: 0;
    line-height: 14px;
}
.recent  .line.image .rbox {
    width: 166px;
}
.recent .line .rbox {
    float: right;
    width: 300px;
    height: 68px;
    margin-right: 22px;
    font-size: 0;
}
.recent  .line .rbox .rbox-inner {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
}
.recent .line .lbox {
    float: left;
    position: relative;
    width: 118px;
    height: 68px;
    margin-left: 20px;
}
.recent  .line .lbox img {
    width: 100%;
}


.author_card {
    background: #fff;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 20px;
}
.author_pic {
    float: left;
    width: 60px;
    height: 60px;
}
.author_resume {
    width: 100%;
    float: left;
    font-size: 13px;
    color: #666;
    margin-top: 10px;
}
.float{
    float: right;
}